
doctype html
html(lang="en")
  //
    -----------------------------------------------
    This is a CSS drawing experiment to improve my design habilities.
    This project was inspired by https://github.com/lynnandtonic/a-single-div
    GitHub: https://github.com/mauriciovieira/css_drawings
    -----------------------------------------------

  head
    meta(charset="utf-8")
    meta(http-equiv="cache-control", content="Public")
    meta(http-equiv="content-language", content="en-US")
    meta(http-equiv="content-type", content="text/html; charset=utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="description", content="A backend developer trying out CSS art")
    meta(name="robots", content="index")
    meta(name="viewport", content="width=device-width, initial-scale=1")

    title CSS Drawings
    link(rel="stylesheet", href="css/main.css")
    link(rel="icon", href="images/favicon.ico")

  body.cf

    header
      h1 CSS Drawings by Mauricio Vieira
      a.github-link(href="https://github.com/mauriciovieira/css_drawings") GitHub

    block content
