extends _layout

block content
  .entry#brazil
    div
  .entry#button
    div

  .entry#jake_the_dog.tall
    .head
      .face
        .eyes
          .pupils
        .snout
        .snout2
        .snout3
        .nose
        .mouth
        .ear-left
        .ear-right
      .filler
      .filler2
